<nz-table *ngIf="accountBasicInfo.appId" #basicTable [nzWidthConfig] ="['120px']" [nzData]="[accountBasicInfo]" [nzShowPagination]="false">
  <tbody>
  <tr>
    <td>appId</td>
    <td>{{basicTable.data[0].appId}}</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>原始 ID</td>
    <td>{{authorizer?.authorizerInfo?.authorizerInfo?.userName}}</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>小程序名称</td>
    <td>{{accountBasicInfo.nickname}}</td>
    <td>
      当前还能修改{{accountBasicInfo.nicknameInfo.modifyQuota - accountBasicInfo.nicknameInfo.modifyUsedCount}}次,
      改名次数将在自然年1月1日和微信认证审核通过后重置为{{accountBasicInfo.nicknameInfo.modifyQuota}}次。
    </td>
    <td>
      <nz-tag nzColor="default" (click)="setNickname();">
        修改
      </nz-tag>
    </td>
  </tr>
  <tr>
    <td>小程序头像</td>
    <td>
      <nz-avatar [nzSize]="64" [nzSrc]="accountBasicInfo.headImageInfo.headImageUrl" />
    </td>
    <td>
      一年内可申请修改{{accountBasicInfo.headImageInfo.modifyQuota}}次,今年还可修改{{accountBasicInfo.headImageInfo.modifyQuota - accountBasicInfo.headImageInfo.modifyUsedCount}}次
    </td>
    <td>
      <nz-tag nzColor="default" (click)="modifyHeadImage();">
        修改
      </nz-tag>
    </td>
  </tr>
  <tr>
    <td>小程序码</td>
    <td>
      <nz-avatar [nzSize]="64" [nzSrc]="authorizer?.authorizerInfo?.authorizerInfo?.qrcodeUrl" />
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>主体类型</td>
    <td [ngSwitch]="basicTable.data[0].principalType">
      <span *ngSwitchCase="0">个人</span>
      <span *ngSwitchCase="1">企业</span>
      <span *ngSwitchCase="2">媒体</span>
      <span *ngSwitchCase="3">政府</span>
      <span *ngSwitchCase="4">其他组织</span>
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>主体名称</td>
    <td>{{accountBasicInfo.principalName}}</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>实名验证状态</td>
    <td [ngSwitch]="basicTable.data[0].realnameStatus">
      <span *ngSwitchCase="1">实名验证成功</span>
      <span *ngSwitchCase="2">实名验证中</span>
      <span *ngSwitchCase="3">实名验证失败</span>
      <span *ngSwitchDefault>未知状态</span>
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>功能介绍</td>
    <td>{{accountBasicInfo.signatureInfo.signature}}</td>
    <td>一个月内可{{accountBasicInfo.signatureInfo.modifyQuota}}次修改 本月还可修改{{accountBasicInfo.signatureInfo.modifyQuota - accountBasicInfo.signatureInfo.modifyUsedCount}}次</td>
    <td>
      <nz-tag nzColor="default" (click)="modifySignature();">
        修改
      </nz-tag>
    </td>
  </tr>
  </tbody>
</nz-table>
